:root {
    --green: #6aaa64;
    --darkendGreen: #538d4e;
    --yellow: #c9b458;
    --gray: #86888a;
    --darkGray: #939598;
    --white: #fff;
    --black: #212121;
    --key-evaluated-text-color: var(--white);
    --key-bg-present: var(--yellow);
    --key-bg-correct: var(--green);
    --key-bg-absent: var(--darkGray);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 1rem;
}

#custom-form{
    position: absolute;
    left: 50%;
    transform: translateX( -50%);
    top: 5rem;
    background: white;
    padding: 3rem;
    border: 2px solid black;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.game{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.board-layout{
    position: relative;
}

.board-items{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.board-row{  
    display: flex;
   flex-direction: row;
   gap: 5px;
}
.board-item{
    min-width: 60px;
    min-height: 60px;
    border: 2px solid black;
    font-size: 2rem;
    border: 2px solid var(--darkGray);
}
.message-container{
    position: absolute;
    background: var(--black);
    color:var(--white);
    border-radius: 3px;
    font-weight: 700;
    box-shadow: 1px 2px 1px var(--gray);
    top: -2rem;
    left: 50%;
    transform: translateX( -50%);
}
.message-container .message{
    margin: 0.5rem 1rem;
}
/**/
/*keyboard layout*/
.keyboard-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
.keybord-row>*{
    margin: 0.2rem;
}
.keyboard-item{
    height: 3rem;
    width: 2rem;
}
/*data-state*/
[data-state="present"]{
    background-color: var(--key-bg-present);
    color: var(--key-evaluated-text-color);
}
[data-state="correct"]{
    background-color: var(--key-bg-correct);
    color: var(--key-evaluated-text-color);
}
[data-state="absent"]{
    background-color: var(--key-bg-absent);
    color: var(--key-evaluated-text-color);
}
/**/
.custom-wrapper{
   margin: 2rem 1rem;
}
#custom-form{
    display: none;
}
.visible{
    display: block !important;
}